Header always set X-Frame-Options DENY
Header set X-XSS-Protection "1; mode=block"

Header set Content-Security-Policy "script-src 'self'; base-uri 'self';"

Header set Connection keep-alive
Header always set Referrer-Policy "same-origin"
