/rsc/imagenes/tmp/
/rsc/ficheros/tmp/
/rsc/mapas/
/log/web_emios.log
/repositorio/
/src/lib/test/test_*.php
/src/api/directorio_raiz_api.php
/src/api/comprueba_tipo_peticion_http_api.php
/index.php
/login.php
/comprueba_tipo_peticion_http.php
rsc/imagenes/logos/*.png
log/warning_web_emios.log
log/api_sensores_software.log
./404.jpg
./404.php
./robots.txt
log/api_externo.log
log/warning_api_externo.log

.remote-sync.json
comun/rsc/lib/log4php/src/main/php/configurators/LoggerConfigurationAdapterXML.php
